/* hCard component */
.hcard {
  border-bottom: 2px solid #9a9a9a;
}
.hcard__header {
  background: #2c3e50;
  padding: 50px 30px 15px 30px;
  position: relative;
  min-height: 40px;
}
.hcard__body {
  background: #fff;
  padding: 30px 30px 10px 30px;
}
.hcard__row {
  border-bottom: 1px solid #dbe0e2;
  margin-bottom: 10px;
  overflow: hidden;
}
.hcard__row--cols {
  border-bottom: 0;
  margin-bottom: 0;
}
.hcard__col {
  border-bottom: 1px solid #dbe0e2;
  margin-bottom: 10px;
}
.hcard__field {
  font-family: $serif;
  font-weight: 400;
  font-size: 16px;
  font-size: 1.6rem;  
}
.hcard__field-label {
  font-family: $sans-serif;
  color: #34495e;
  font-size: 10px;
  font-size: 1rem;
  text-transform: uppercase;
  min-width: 70px;
  display: inline-block;
}
.hcard__field--name {
  color: #fff;
  font-weight: 700;
  font-size: 24px;
  font-size: 2.4rem;
}
.hcard__field--photo {
  position: absolute;
  height: 110px;
  width: auto;
  right: 16px;
  top: 10px;
  border-left: 1px solid #b3b3b3;
  border-right: 1px solid #b3b3b3;
  border-bottom: 2px solid #b3b3b3;
}
